body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 1.2em;
}

header {
  background-color: #4267b2;
  color: #fff;
  padding: 20px;
  border-bottom: solid 2px #f0f2f5;
}

nav {
  background-color: #4267b2;
  color: #fff;
  padding: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

nav a.active {
  font-weight: bold;
}

main {
  padding-left: 20px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button[type="submit"],
button[type="button"] {
  padding: 5px 10px;
  background-color: #4267b2;
  color: #fff;
  border: none;
  cursor: pointer;
}

.add-member-btn {
  padding-left: 20px;
}

#member-info {
  padding: 20px;
}

.new-member-btn {
  padding: 5px 10px;
  background-color: #4267b2;
  color: #fff;
  border: none;
  cursor: pointer;
}

.add-result-btn {
  padding-left: 20px;
}

.new-result-btn {
  padding: 5px 10px;
  background-color: #4267b2;
  color: #fff;
  border: none;
  cursor: pointer;
}

.topfive-btn {
  padding-left: 20px;
}

.open-top-btn {
  padding: 5px 10px;
  background-color: #4267b2;
  color: #fff;
  border: none;
  cursor: pointer;
}

ul#members {
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

article.grid-item {
  background-color: #f0f2f5;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

dialog {
  padding: 20px;
  border: solid 2px black;
  border-radius: 5px;
  background-color: #ffffff;
  max-width: 500px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

#btn-cancel {
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: grey;
  color: #fff;
  border: none;
  cursor: pointer;
}

#closeModalButton {
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #4267b2;
  color: #fff;
  border: none;
  cursor: pointer;
}

.grid-item-top {
  border: solid 2px black;
  padding: 5px;
  font-size: 0.9em;
  max-height: 100px;
}

#search-input {
  padding-left: 20px;
}

.memberName {
  cursor: pointer;
}

#top-five-dialog {
  padding: 50px;
  font-size: 1em;
}

.delete-result {
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: grey;
  color: #fff;
  border: none;
  cursor: pointer;
}

.delete {
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: grey;
  color: #fff;
  border: none;
  cursor: pointer;
}

.update {
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #4267b2;
  color: #fff;
  border: none;
  cursor: pointer;
}
